<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập mạng local để kết nối với hệ thống phát hiện ngã</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ws._tcp</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
</dict>
</plist>
